USE [master]
GO
/****** Object:  Database [wizard_magazine]    Script Date: 5/31/2023 10:48:07 AM ******/
CREATE DATABASE [wizard_magazine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wizard_magazine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\wizard_magazine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wizard_magazine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\wizard_magazine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wizard_magazine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wizard_magazine]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 5/31/2023 10:48:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[usename] [nvarchar](max) NULL,
	[email] [nvarchar](256) NULL,
	[password] [nvarchar](max) NULL,
	[full_name] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
	[sefl_des] [nvarchar](max) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articles]    Script Date: 5/31/2023 10:48:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articles](
	[article_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[textbody] [nvarchar](max) NULL,
	[create_time] [datetime] NULL,
	[image] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[cate_id] [int] NULL,
 CONSTRAINT [PK_articles] PRIMARY KEY CLUSTERED 
(
	[article_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/31/2023 10:48:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 5/31/2023 10:48:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[cmt_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[article_id] [int] NULL,
	[cmt_cotnent] [nvarchar](max) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[cmt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/31/2023 10:48:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[usename] [nvarchar](max) NULL,
	[email] [nvarchar](256) NULL,
	[password] [nvarchar](max) NULL,
	[full_name] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
	[sefl_des] [nvarchar](max) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (1, N'xxxx', N'xxxx@gmail.com', N'xxxx', N'xxxx', N'', N'G')
INSERT [dbo].[accounts] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (2, N'demo', N'demo@gmail.com', N'demo', N'demo', N'', N'G')
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[articles] ON 











SET IDENTITY_INSERT [dbo].[articles] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (6, N'Văn hóa')
INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (10, N'Thể thao')
INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (13, N'Công nghệ')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (1, 1, 2, N'Bài viết thật hữu ích!', CAST(N'2021-07-02T09:15:00.000' AS DateTime))
INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (2, 1, 1, N'Bài viết thật hữu ích với mọi người!', CAST(N'2021-07-02T09:16:00.000' AS DateTime))
INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (3, 1, 1, N'Thật tuyệt!', CAST(N'2021-07-02T09:19:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (2, N'admin', N'admin@wizard.com', N'12345', N'Adminstrator', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  StoredProcedure [dbo].[accountlogin]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[accountlogin](
	@email nvarchar(256),
	@password nvarchar(MAX))
as 
begin
	declare @count int
	declare @res bit
	select @count = count(*) from users where email = @email and password = @password
	if @count >= 1
		set @res = 1
	else 
		set @res = 0
	select @res
end
GO
/****** Object:  StoredProcedure [dbo].[countRowArticles]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowArticles]
as
begin
	SELECT COUNT(*) FROM articles
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowCategories]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowCategories]
as
begin
	SELECT COUNT(*) FROM categories
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowCmt]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowCmt]
as
begin
	SELECT COUNT(*) FROM comments
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowUsers]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowUsers]
as
begin
	SELECT COUNT(*) FROM users
	end
GO
/****** Object:  StoredProcedure [dbo].[delete_article]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_article](@art_id INT)
AS
   DELETE FROM articles
   WHERE article_id = @art_id
GO
/****** Object:  StoredProcedure [dbo].[delete_cate]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_cate](@cateid INT)
AS
   DELETE FROM categories
   WHERE cate_id = @cateid
GO
/****** Object:  StoredProcedure [dbo].[delete_cmt]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_cmt](@cmt_id INT)
AS
   DELETE FROM comments
   WHERE cmt_id = @cmt_id
GO
/****** Object:  StoredProcedure [dbo].[delete_user]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user](@userid INT)
AS
   DELETE FROM users
   WHERE user_id = @userid
GO
/****** Object:  StoredProcedure [dbo].[findArticles]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[findArticles](
	@title nvarchar(max)
)
as
begin
	select * from articles where title like '%@title%'
	end
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Articles]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Articles]
as
select * from articles
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Categories]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAll_Categories]
as 
select * from categories
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Comments]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Comments]
as 
select * from comments
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Users]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Users]
as 
select * from users
GO
/****** Object:  StoredProcedure [dbo].[getArtById]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getArtById](
	@id int
)
as
begin
	select * from articles where article_id = @id
	end
GO
/****** Object:  StoredProcedure [dbo].[getCateById]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCateById](
	@var_id int
)
as
begin
	select * from categories where cate_id = @var_id
	end
GO
/****** Object:  StoredProcedure [dbo].[insert_article]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insert_article](
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@user_id int,
	@cate_id int
)
as
begin
	insert into articles(title,textbody,create_time,image,user_id,cate_id) values(@title,@textbody,GETDATE(),@image, @user_id,@cate_id)
end
GO
/****** Object:  StoredProcedure [dbo].[insert_category]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_category](
	@name nvarchar(MAX)
)
as
begin
	insert into categories(cate_name) values(@name)
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountCheckExists]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spAccountCheckExists](
	@username nvarchar(max),
	@email nvarchar(256))
as 
BEGIN
	DECLARE @count INT = 0
	select @count = COUNT(*) from accounts 
		WHERE email LIKE @email or usename LIKE @username
	select @count
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountLogin]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spAccountLogin](
	@email nvarchar(256),
	@password nvarchar(MAX))
as 
begin
	select * from accounts where email LIKE @email and password = @password
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountRegister]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spAccountRegister](
	@username NVARCHAR(MAX),
	@email nvarchar(256),
	@password nvarchar(MAX),
	@full_name nvarchar(MAX))
as 
begin
	INSERT INTO accounts (usename, email, password, full_name, avatar, sefl_des)
	VALUES (@username, @email, @password, @full_name, N'', N'G')
	
	SELECT * FROM accounts WHERE user_id = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[update_article]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_article](
	@article_id int,
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@cateid int
)
as
BEGIN
	SET NOCOUNT ON
	UPDATE [articles]
	SET    [title] = @title, [textbody] = @textbody, [image] = @image, [cate_id] = @cateid
	WHERE  [article_id] = @article_id
	
	SELECT [article_id], [title], [textbody], [create_time], [image], [user_id], [cate_id]
	FROM   [articles]
	WHERE  [article_id] = @article_id	

end
GO
/****** Object:  StoredProcedure [dbo].[update_article1]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_article1](
	@article_id int,
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@cateid int
)
as
BEGIN
	SET NOCOUNT ON
	UPDATE [articles]
	SET    [title] = @title, [textbody] = @textbody, [image] = @image, [cate_id] = @cateid
	WHERE  [article_id] = @article_id
	
	SELECT [article_id], [title], [textbody], [create_time], [image], [user_id], [cate_id]
	FROM   [articles]
	WHERE  [article_id] = @article_id	

end
GO
/****** Object:  StoredProcedure [dbo].[update_cate]    Script Date: 5/31/2023 10:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_cate](
	@var_id int,
	@var_name nvarchar(max)
)
as
begin
	UPDATE categories
	SET cate_name = @var_name
	WHERE cate_id = @var_id;
end
GO
USE [master]
GO


USE wizard_magazine;
GO
EXEC sp_helptext 'GetALL_Articles';

select * from accounts



SET IDENTITY_INSERT [dbo].[articles] ON;
SET IDENTITY_INSERT [dbo].[articles] OFF;